@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Bestellingen</h2>
        <ul>
            <li><a asp-page="/Orders/Create">Bestelling Ingeven</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Administratie</h2>
        <ul>
            <li><a asp-page="/Orders/Index">Bestellingen Exporteren</a></li>
            <li><a asp-page="/Products/Index">Producten Beheren</a></li>
        </ul>
    </div>
</div>
