@page
@model Strover.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!-- Buyer details -->
            <div class="form-group">
                <label asp-for="Buyer.Name" class="control-label"></label>
                <input asp-for="Buyer.Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Buyer.TelephoneNumber" class="control-group"></label>
                <input asp-for="Buyer.TelephoneNumber" class="form-control" />
            </div>
            <hr />
            
            <!-- delivery details -->
            <!-- #TODO switching delivery methods can be more elegant, 
                e.g. javascript switching on/off visibility depending on the method-->
            <div class="form-group">
                <label asp-for="Pickup" class="control-label"></label>
                <input asp-for="Pickup" class="form-control" />
            </div>
            <div id="deliveryDetails">
                <div class="form-group">
                    <label asp-for="DeliveryAddress.Street" class="control-label"></label>
                    <input asp-for="DeliveryAddress.Street" class="form-control"/>
                </div>  
                <div class="form-group">
                    <label asp-for="DeliveryAddress.Number" class="control-label"></label>
                    <input asp-for="DeliveryAddress.Number" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryAddress.City" class="control-label"></label>
                    <input asp-for="DeliveryAddress.City" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryComments" class="control-label"></label>
                    <input asp-for="DeliveryComments" class="form-control" />
                </div>         
            </div>

            <!-- Order selection --> 
            @for (int i = 0; i < Model.ProductIds.Count; ++i) {
                <div class="form-group">
                    <label class="control-label">@Model.ProductNames[i]</label>
                    <input type="hidden" asp-for="ProductNames[i]" class="form-control" /> 
                    <input type="hidden" asp-for="ProductIds[i]" class="form-control" />                   
                    <input asp-for="OrderedQuantities[i]" class="form-control"/>
                </div>
            }
            <label>totaal</label> 

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
    $(document).ready(function () {
        $('#Pickup').change( function(event) 
        {
        if (event.target.checked)
            $('#deliveryDetails').hide();
        else
            $('#deliveryDetails').show();
        });
    });
    </script>
}
