@page
@model Strover.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- Buyer details -->
        <dt>
            @Html.DisplayNameFor(model => model.Order.Buyer)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Order.Buyer.Name)
        </dd>

        <!-- Order selection --> 
        @foreach (var orderedItem in Model.Order.OrderedItems) {
            <dt>
                @orderedItem.Product.Name
            </dt>
            <dd>
                @orderedItem.Quantity
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>